<%- include('../template/head.ejs'); %>

  <div class="center-xy wh-all">
    <h1>Hola mundo</h1>
    <h3>Jose Sojo</h3>
    <h3>28482348</h3>
    <h3>Sección 2</h3>
  </div>

<%- include('../template/footer.ejs'); %>
